@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

body {
  background-image: url('./images/forest.jpg');
  background-size: cover;
  min-width: 220px;
  font-family: 'Nunito', sans-serif;
  color: #1f1c36;
  text-align: center;
}

button {
  color: gainsboro;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
}

.rcorners1 {
  border-radius: 25px;
  border: 2px solid gainsboro;
  padding: 5px;
  width: 150px;
  height: 50px;
  background: transparent;
}
